@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div>
    <form asp-action="ChangePassword" method="post">
        <div>
            <label>Current Password</label>
            <input name="currentPassword" type="password" required />
        </div>
        <div>
            <label>New Password</label>
            <input name="newPassword" type="password" required />
        </div>
        <div>
            <label>Confirm New Password</label>
            <input name="confirmPassword" type="password" required />
        </div>
        <button type="submit">Change Password</button>
    </form>
</div>

@{
    if (ViewData.ModelState.IsValid)
    {
        <p style="color:green;">Password changed successfully!</p>
    }
    else
    {
        foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p style="color:red;">@error.ErrorMessage</p>
        }
    }
}