@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You have been logged out successfully.</p>
<p><a asp-controller="User" asp-action="Login">Return to Login</a></p>
